/01_robot/ejercicioRobot/nbproject/private/
/01_robot/ejercicioRobot/build/
/02_cronometro/ejercicioCronometro/nbproject/private/
/02_cronometro/ejercicioCronometro/build/
/02_cronometro/ejercicioCronometro/dist/
/03_alumno/alumno/nbproject/private/
/03_alumno/ejercicioAlumno/nbproject/private/
/03_alumno/ejercicioAlumno/build/
/04_grupo_alumnos/ejerciciogrupo_Alumno/nbproject/private/
/04_grupo_alumnos/ejerciciogrupo_Alumno/build/
/05_coche/ejercicioCoche/nbproject/private/
/05_coche/ejercicioCoche/build/