/01_averias/ejercicioAverias/nbproject/private/
/01_averias/ejercicioAverias/build/
/02_alumno_asignatura/ejercicioAlumnoAsignatura_2_0/nbproject/private/
/02_alumno_asignatura/ejercicioAlumnoAsignatura_2_0/build/
/04_agenda/EjercicioAgenda/nbproject/private/
/04_agenda/EjercicioAgenda/build/
/03_jugueteria/Jugueteria/nbproject/private/
/03_jugueteria/Jugueteria/build/